.mat-button {
  color: #fafafa;
  outline: none;
}

::ng-deep .mat-button-toggle-button {
  outline: none !important;
}
::ng-deep .mat-button-toggle-checked {
  color: #fafafa !important;
  background-color: #1c2431 !important;
}
