<ng-container *ngFor="let h of hospitals; index as i">
  <div class="hoverable" routerLink='/bolnice/{{h._id}}'>
    <div class="row" style="padding: 20px;">
      <div class="col-md-4 info" style="text-align: justify;">
        <strong>
          <h4>{{h.name}}</h4>
        </strong>
      </div>
      <div class="col-md-4 loc">
        <h6>{{h.address}}</h6>
        <p *ngIf="h.distance; else calc" style="color: red;"><strong>Udaljeno {{h.distance}}km
            od tebe.</strong></p>
        <ng-template #calc>
          <div>
            <mat-spinner style="display: inline;"></mat-spinner>
            <h6 style="margin-left: 30px; color: red;">Izračunavanje
              udaljenosti...</h6>
          </div>
        </ng-template>
      </div>
      <div class="col-md-4">
        <app-map [id]='i'></app-map>
      </div>
    </div>
  </div>
</ng-container>
