<ng-container *ngFor="let h of hospitals | async; index as i; last as isLast">
  <div style="cursor: pointer;" routerLink='/zdravstvene-ustanove/{{h._id}}'>
    <div class="row" style="padding: 20px; min-height: 200px;">
      <div class="col-md-4 info" style="text-align: justify;">
        <strong>
          <h4>{{h.name}}</h4>
        </strong>
      </div>
      <div class="col-md-4 loc">
        <h6>{{h.address}}</h6>
        <p><strong>Udaljenost:
            <span *ngIf="h.distance as distance">{{distance}}km</span>
            <span *ngIf="!h.distance">Izračunavanje...</span>
          </strong></p>
      </div>
      <div class="col-md-4">
        <app-map [id]='"hos"+i' [location]='h.location' (distance)='setDistance($event)'></app-map>
      </div>
    </div>
    <mat-divider *ngIf="!isLast"></mat-divider>
  </div>
</ng-container>
