<div id="header" class="row">
  <div class="col info">
    <h1>{{hospital.name}}</h1>
    <h5>{{hospital.address}}</h5>
    <div *ngIf="hospital.rating">
      <p style="margin-bottom: 5px; font-size: 20px;">Ukupna ocena:
        <span class="fa fa-star" style="color: #ffd700;font-size: 25px;display: inline;">
          {{hospital.rating.rating}}</span>
        <span style="font-size: 15px;"> ({{hospital.rating.count}})</span>
      </p>
      <p style="font-size: 20px;">Udaljenost: {{hospital.distance}}km</p>
    </div>
  </div>
  <div class="col" style="min-height: 200px;">
    <app-map [id]='hospital._id'></app-map>
  </div>
</div>

<div class="employees">
  <div style="text-align: center;">
    <h3>Zaposleni</h3>
    <mat-form-field appearance='outline'>
      <mat-label>Pretraga</mat-label>
      <input matInput [(ngModel)]='filter'>
    </mat-form-field>
  </div>
  <app-doctors-list [showMap]='false'></app-doctors-list>
</div>
