#header {
  margin: 20px;
  min-height: 300px;
}

.employees {
  padding: 20px;
}

::ng-deep .mat-button-toggle-button {
  outline: none !important;
}
::ng-deep .mat-button-toggle-checked {
  color: #fafafa !important;
  background-color: #1c2431 !important;
}
