html {
  background-color: #fafafa;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#scrollable-container {
  scroll-behavior: smooth;
  overflow: auto;
  position: absolute;
  top: 87px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s;

  #content {
    max-width: 1115px;
    min-height: calc(100vh - 107px);
    margin: 10px auto;
    padding: 30px;
    border-radius: 10px;
  }

  #center-content {
    max-width: 800px;
    margin: 10px auto;
    padding: 30px;
    border-radius: 10px;
  }
}

#scrollable-container::-webkit-scrollbar {width: 10px; height: 0;}
#scrollable-container::-webkit-scrollbar-thumb {
    background: rgba(28,36,49);
    border-radius: 10px;
    box-shadow: rgba(255,255,255,0.3) 0 0 0 1px;
}
#scrollable-container:hover::-webkit-scrollbar-thumb {background: rgba(28,36,49)}
