#header {
  margin: 20px;
}

#loc {
  text-align: justify;
  padding: 20px;
  padding-bottom: 0;
}

#tabs {
  border-radius: 10px;
  background-color: #1c2431;
  a {
    color: #fafafa;
    text-decoration: none;
  }
}

.shadow {
  padding-top: 20px;
  top: -20px;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky;
}
mat-divider {
  opacity: 0.7;
}
.loc,.rev,.title {
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: white;
  height: 2.5px;
}
